<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="navbar row">
        <img src="" alt="" class="logo">
        <ul class="navlinks">
            <li><a href="#about">About</a></li>
            <li><a href="#events">Events</a></li>
            <li><a href="#become-member">Become a Member</a></li>
            <li><a href="/login.html">Login</a></li>

        </ul>
    </div>
    <div class="hero row top-off"></div>
    <div class="description row top-off" id="about">about</div>
    <div class="events row top-off" id="events"> events</div>
    <div class="map row top-off">map</div>
    <div class="become-member top-off" id="become-member">become member</div>
    <div class="footer">footer</div>
</body>
</html>